* { border: 1px solid black; } /**/

* { /* CSS reset */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none; 
    list-style-type: none;
}

h1, h2, h3 { text-align: center; }

header {
    display: grid;
    grid-template-rows: 1.5fr 1.0fr;

    padding: 1rem;
}
header ul { /* Logos */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav { /* Navigation */
    display: flex;
    flex-direction: row;
    justify-content: right;
}


footer { /* Additional site info */
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    padding: 1rem;
}



/* Mobile and Small Desktop */
body {
    margin: 1rem;

    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    min-height: 80vh;
}

main ul {
    display: grid;

    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 300px);

    grid-gap: 3rem;

    justify-content: center;

    width: 100%;
}

main li {
    height: 300px;
    width: 300px;
}

/* Large Desktop */
@media screen and (min-width: 1100px) {


    
}