.inactive {position: fixed; left: -9999px !important; top: -9999px !important;}

/* All CSS classes used to style gameplay elements are ratio based of 120x120 being worth 10vhx10vh or 10vhx10vw*/


#top {
    height: 25vh;
    max-height: 25vh;

    width: 100vw;
    max-width: 100vw;
}

#don-chan {}


#soul-bar {}
#soul-filled {}

.top-bg-normal {background-image: url(./assets/bgs/top-normal.png);}
.top-bg-pass   {background-image: url(./assets/bgs/top-pass.png);}




#middle {
    height: 30vh;
    max-height: 30vh;

    width: 100vw;
    max-width: 100vw;
}

#ui-bg   {}
#drum    {}
#drum-lr {}
#drum-rr {}
#drum-lc {}
#drum-rc {}

.hit-object-red-base {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/red-base.png)}
.hit-object-red-norm {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/red-norm.png)}
.hit-object-red-kiai {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/red-kiai.png)}
.hit-object-big-red-base {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-red-base.png)}
.hit-object-big-red-norm {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-red-norm.png)}
.hit-object-big-red-kiai {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-red-kiai.png)}

.hit-object-blue-base {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/blue-base.png)}
.hit-object-blue-norm {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/blue-norm.png)}
.hit-object-blue-kiai {position: relative; top: 10vh; width: 10vh; height: 10vh; background-image: url(./assets/notes/blue-kiai.png)}
.hit-object-big-blue-base {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-blue-base.png)}
.hit-object-big-blue-norm {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-blue-norm.png)}
.hit-object-big-blue-kiai {position: relative; top: 8vh; width: 14vh; height: 14vh; background-image: url(./assets/notes/big-blue-kiai.png)}


.ui-0-gold {height: 6.833vh; width: 5.250vw; background-image: url(./assets/ui/num-0-gold.png);}
.ui-1-gold {height: 6.833vh; width: 3.916vw; background-image: url(./assets/ui/num-1-gold.png);}
.ui-2-gold {height: 6.833vh; width: 5.500vw; background-image: url(./assets/ui/num-2-gold.png);}
.ui-3-gold {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-3-gold.png);}
.ui-4-gold {height: 6.833vh; width: 5.666vw; background-image: url(./assets/ui/num-4-gold.png);}
.ui-5-gold {height: 6.833vh; width: 5.250vw; background-image: url(./assets/ui/num-5-gold.png);}
.ui-6-gold {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-6-gold.png);}
.ui-7-gold {height: 6.833vh; width: 5.333vw; background-image: url(./assets/ui/num-7-gold.png);}
.ui-8-gold {height: 6.833vh; width: 5.333vw; background-image: url(./assets/ui/num-8-gold.png);}
.ui-9-gold {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-9-gold.png);}

.ui-0 {height: 6.833vh; width: 5.250vw; background-image: url(./assets/ui/num-0.png);}
.ui-1 {height: 6.833vh; width: 3.916vw; background-image: url(./assets/ui/num-1.png);}
.ui-2 {height: 6.833vh; width: 5.500vw; background-image: url(./assets/ui/num-2.png);}
.ui-3 {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-3.png);}
.ui-4 {height: 6.833vh; width: 5.666vw; background-image: url(./assets/ui/num-4.png);}
.ui-5 {height: 6.833vh; width: 5.250vw; background-image: url(./assets/ui/num-5.png);}
.ui-6 {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-6.png);}
.ui-7 {height: 6.833vh; width: 5.333vw; background-image: url(./assets/ui/num-7.png);}
.ui-8 {height: 6.833vh; width: 5.333vw; background-image: url(./assets/ui/num-8.png);}
.ui-9 {height: 6.833vh; width: 5.166vw; background-image: url(./assets/ui/num-9.png);}


#game-field {}
#hit-zone {}

.ui-good {}
.ui-ok   {}
.ui-bad  {}




#bottom {
    height: 45vh;
    max-height: 45vh;

    width: 100vw;
    max-width: 100vw;

    
}