* {border: 1px solid blue} /* Only here to show container outlines */
li {list-style-type: none;}
ul {padding: 0px; margin: 0px;}


body {
    margin: 0.5rem 1rem;
    min-height: 100vh;
}

#logo {
    display: flex;
    justify-content: space-between;
}

#navigation {
    display: flex;
    justify-content: right;
}

main {
    margin: 2rem 1rem;
}
#projects {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

    margin: 0px auto;
    width: 85%;

    max-height: min-content;
}
#projects li {
    flex: 0 0 300px;
}

#contact {
    margin: 2rem 0.5rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



@media screen and (min-width: 750px) {
    body {
        margin: 1rem 7.5%
    }
    #contact {
        margin: 2rem 4rem;
    }
    #projects {
        max-width: 75%;
    }
}

@media screen and (min-width: 1110px) {
    body {
        margin: 1rem 10%;
    }

    main {
        display: grid;
        grid-template-columns: 2fr minmax(375px, 1fr);
        max-height: 800px;
    }
    #about {
        overflow-y: scroll;
        max-height: inherit;
    }
    #projects {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;

        max-width: 100%;
        max-height: inherit;
    }
    #contact {
        margin: 2rem 6rem;
    }
}