@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {background-color: #212529;}
a {text-decoration: none; color: #dee2e6;}

header {
    display: flex; 
    justify-content: space-between; 
    margin: 20px 2.5%; 
    padding: 10px; 
    color:#dee2e6; 
    border-bottom: 2px solid #495057;
    font-family: "Fira Sans", sans-serif; font-weight: 600; font-style: normal;
}
header ul {padding: 0%; margin: 0%;}
header li {display: inline-block;}
#page-title {font-size: x-large; color: #ffb0b0;}
#page-navigation {font-size: large; color: #ffb0b0;} 


main {margin: 20px 2.5%; padding: 10px; color:#dee2e6;}
main > h2 {
    margin: 2.5%; 
    margin-bottom: 15px;
    padding: 10px 0px;
    text-align: center; 
    color: #ffb0b0;
    font-family: "Fira Sans", sans-serif; font-weight: 600; font-style: normal;
}

main > p {
    text-align: center; 
    padding: 10px 10%;
    margin-bottom: 75px;

    font-family: "Fira Sans", sans-serif; font-weight: 400; font-style: normal;
}

main ul {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-auto-rows: 1fr;
    padding: 0%;
    margin: 0%;}
main li {
    display: inline;
    background-color: #2b303b; 
    text-align: center; 
    margin: 5px;
    padding: 5px;
    
    font-family: "Fira Sans", sans-serif; font-weight: 400; font-style: normal;
}
main li span {
    padding-bottom: 5px;
    margin-bottom: 0%;
    text-align: center;
    font-size: large;
    color: #97e8a9;
    font-family: "Fira Sans", sans-serif; font-weight: 600; font-style: normal;
}

main li p {
    margin: 5px;
    padding: 5px;
    color:#dee2e6;
    text-align: left;
}

main li img {max-width: 90% !important; height: auto !important; padding: 5px}

#seperation-line {
    width: 20%;
    margin: 20px auto;
    border: 1px  solid #495057;
}

footer {margin: 10px 25%; padding: 10px; color:#dee2e6; border-top: 2px solid #495057;}
footer ul {padding: 0%; margin: 0%; text-align: center;}
footer li {
    display: inline-block;
    font-size: small;
    font-family: "Fira Sans", sans-serif; font-weight: 400; font-style: normal;
}